.contacto__input__tema{
  position: absolute;
  top:2.7rem;
  left: 1rem;
  color: #A2A2A2;
  font-weight: 400;
  font-size: 1rem;
}

.contacto__input:focus-within~.contacto__input__tema{
  color:#2A7AE4;
  font-size: 12px;
  top: 1.5rem;
  transition: 0.4s ease-in;
}

.contacto__input:valid~.contacto__input__tema{
  color:#2A7AE4;
  font-size: 12px;
  top: 1.5rem;
}

.contacto__input__mensaje:focus-within~.contacto__input__tema{
  color:#2A7AE4;
  font-size: 12px;
  top: 1.5rem;
  transition: 0.4s ease-in;
}

.contacto__input__mensaje:valid~.contacto__input__tema{
  color:#2A7AE4;
  font-size: 12px;
  top: 1.5rem;
}